body{
    background-image: url("./fotos/hojas-blancas.jpg") ;
    /*background-repeat: no-repeat;*/
    display: grid;
    grid-template-columns:auto;
    background-size:cover;
    min-height: 100vh;
    width:100% ;
    position: relative;
    /*padding-bottom: 3em;*/
    padding: 0;
    margin: 0;
    
    
}
header{
    display: flex;
    flex-direction: row;
    height: 180px;
    width: 100%;
    background-color:whitesmoke;
    justify-content:space-between;
    align-items: center;
    border-bottom-width: 4px;
    border-bottom-color:darkorange;
    border-bottom-style: ridge;
    grid-column-start: 1;
    grid-column-end: 4;
}
.logo{
    align-items:center;
    padding-left: 30px;
}   
.nombre h1{
    display: flex;
    font-style: italic;
    align-items: center;
    font-size: 5em;
}

.lista li {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    padding-right: 30px;
    padding-bottom: 5px;
}

.lista li a{
    text-decoration:none;
    color: #59595c;
}    
nav a:hover{
    color:rgb(189, 134, 79)
}

.temporada {
    display: flex; 
    flex-direction: row;
    width: 100%;
    justify-content: space-between;   
    padding: 20px;
    padding-left: 70px;
    margin-bottom: 20px;
    grid-column-start: 1;
    grid-column-end: 4;
}
.temporada h3{    
    font-style:italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #59595c;
    
  
}

main{
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}    



aside{
    margin-top: 100px;
    background-color: rgb(252, 207, 214);
    padding: 10px;
    /*float: right;*/
    height: auto;
    /*juntar margin reight con margin left*/
    margin-right: 30px;
    border-left: 7px solid  #363638;
    border-top: 7px solid  #363638;
}
.ofertas h6{
    /*padding: 5px 20px;*/
    background-color: whitesmoke;
    padding-right: 10px;
    padding-top: 20px;
    margin-top: 50px;

}
.historia{
    
    background-color: whitesmoke;
    padding-right: 10px;
    padding-top: 20px;
    margin-top: 50px;
}
.loguitos img{
    width: 150px;
    padding-right: 10px;
    padding-top: 20px;
    margin-top: 50px;
}
.ofertas img{        
    width: 20px;
    padding: 20px;
}
.dni img{
    width: 50px;
    padding-right: 10px;
    padding-top: 20px;
    margin-top: 50px;

}

section novedades{
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:x-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2em;
    border: 5px solid pink
    
}



article {
    align-content: center;
    border: 5px solid #363638;
    /*centrar img 2 y 4*/
     
}    
article p{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:x-large;
    font-weight: bold;
    text-align: center;
}

footer{   
    /*boton para regresar a pagina principal cual*/     
    background-color:whitesmoke;
    padding-bottom: 0;
    height: 50px;
    width: 100%; 
    color: black;
    font-weight: bold;
    border-top-width: 2px;
    border-top-color:darkorange;
    border-top-style: ridge;
    text-align: center;
    margin-top: 30px;
    grid-column-start: 1;
    grid-column-end: 4;
    
} 
  
    